<?xml version="1.0" encoding="UTF-8"?>
<Patwin>
    <!-- Connection                    -->
    <bounding>0.0.0.0</bounding>
    <!--     Default: 0.0.0.0          -->
    <port>8080</port>
    <!--     Default: 8080             -->

    <!-- Working Directory             -->
    <workingdir>/htdocs</workingdir>
    <!--     Default: ./htdocs         -->
    
    <!-- Logging                       -->
    <!--    Console Loglevel           -->
    <console_loglevel>5</console_loglevel>
    <!--    File Loglevel              -->
    <file_loglevel>5</file_loglevel>
    <!--              1 - Info         -->
    <!--              2 - Error        -->
    <!--     Default: 3 - Warning      -->
    <!--              4 - Fatal        -->
    <!--              5 - Debug        -->
    <patwin_log>patwin.log</patwin_log>
    <!--     Default: patwin.log       -->
</Patwin>
